%h1.center
  = t('.log_in')
= form_for(:session, :html => {class: 'form-horizontal', role: 'form'}, url: sessions_path) do |f|
  .form-group
    .control-label.col-sm-2
      = f.label :email
    .col-sm-8
      = f.email_field :email, class: 'form-control', placeholder: 'Enter Email', autofocus: true
  .form-group
    .control-label.col-sm-2
      = f.label :password
    .col-sm-8
      = f.password_field :password, class: 'form-control', autocorrect: 'off'
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit t('.log_in') , class: 'btn btn-primary btn-lg btn-xlarge'
      = link_to t('.users.new.sign_up'), new_user_path, class: 'btn btn-primary btn-lg btn-xlarge'
