= f.fields_for :address, @user.persisted? ? @user.address : @user.build_address do |address|
  .form-group
    .control-label.col-sm-2
      = address.label :address_line
    .col-sm-8
      = address.text_field :address_line, class: 'form-control', autofocus: true, disabled: @user.persisted? && !@user.can_edit?(current_user)
  .form-group
    .control-label.col-sm-2
      = address.label :street
    .col-sm-8
      = address.text_field :street, class: 'form-control', autofocus: true, disabled: @user.persisted? && !@user.can_edit?(current_user)
  .form-group
    .control-label.col-sm-2
      = address.label :landmark
    .col-sm-8
      = address.text_field :landmark, class: 'form-control', autofocus: true, disabled: @user.persisted? && !@user.can_edit?(current_user)
  .form-group
    .control-label.col-sm-2
      = address.label :city
    .col-sm-8
      = address.text_field :city, class: 'form-control', autofocus: true, disabled: @user.persisted? && !@user.can_edit?(current_user)
  .form-group
    .control-label.col-sm-2
      = address.label :state
    .col-sm-8
      = address.text_field :state, class: 'form-control', autofocus: true, disabled: @user.persisted? && !@user.can_edit?(current_user)
  .form-group
    .control-label.col-sm-2
      = address.label :pin_code
    .col-sm-8
      = address.text_field :pin_code, class: 'form-control', autofocus: true, disabled: @user.persisted? && !@user.can_edit?(current_user)
  .form-group
    .control-label.col-sm-2
      = address.label :phone_number
    .col-sm-8
      = address.text_field :phone_number, class: 'form-control', autofocus: true
