- if input.errors.any?
  .row
    .col-xs-8.col-xs-offset-2
      .panel.panel-danger
        .panel-heading
          %h2.panel-title
            = pluralize(input.errors.count, 'error') + t('general.seperator')
          .panel-body
            %ul
              - input.errors.full_messages.each do |message|
                %li= message
