= render 'errors', input: @user
.row
  .col-xs-12
    = form_for(@user, :html => {class: 'form-horizontal', role: 'form'}) do |f|
      .form-group
        .control-label.col-sm-2
          = f.label :username
        .col-sm-8
          = f.text_field :username,
            class: 'form-control',
            placeholder: 'Enter Username',
            autofocus: true,
            disabled: logged_in? && !@user.can_edit?(current_user)
      .form-group
        .control-label.col-sm-2
          = f.label :email
        .col-sm-8
          = f.email_field :email, class: 'form-control', placeholder: 'Enter Email',
            disabled: logged_in? && !@user.can_edit?(current_user)
      .form-group
        .control-label.col-sm-2
          = f.label :password
        .col-sm-8
          = f.password_field :password, class: 'form-control', placeholder: 'Enter Password',
            disabled: logged_in? && !@user.can_edit?(current_user)
      = render 'users/address_form', f: f
      .form-group
        .control-label.col-sm-2
          = f.label :profile_picture
        .col-sm-8
          = f.file_field :avatar
      .form-group
        .col-sm-offset-2.col-sm-10
          = f.submit(@user.new_record? ? t('users.new.sign_up') : t('users.new.update_details'), class: 'btn btn-primary btn-lg btn-xlarge')
