%h1.center Users
- @users.each do |user|
  .row
    .col-xs-8.col-xs-offset-2
      .well.well-lg
        .user-name
          = link_to user.username, user_path(user)
          = link_to t('.edit_this_user'), edit_user_path(user), class: 'btn btn-xs btn-primary'
%div.center
  = will_paginate @users