%h1.center
  = @user.username
  = t('.profile')
.row
  .col-xs-12.user-details.left
    .row
      - if @user.avatar.attached? && @user.avatar.representable?
        = image_tag url_for(@user.avatar)
    .row
      = t('.username') + t('general.seperator')
      = @user.username
    .row
      = t('.email') + t('general.seperator')
      = @user.email
    .row
      = t('.address_line') + t('general.seperator')
      = @user.address.address_line
    .row
      = t('.street') + t('general.seperator')
      = @user.address.street
    .row
      = t('.landmark') + t('general.seperator')
      = @user.address.landmark
    .row
      = t('.city') + t('general.seperator')
      = @user.address.city
    .row
      = t('.state') + t('general.seperator')
      = @user.address.state
    .row
      = t('.pin_code') + t('general.seperator')
      = @user.address.pin_code
    .row
      = t('.phone_number') + t('general.seperator')
      = @user.address.phone_number
