$navbar-default-bg: #2eb8ac;

@import "bootstrap-sprockets";
@import "bootstrap";

#text {
  color: #fff;
}

#logo {
  float: left;
  font-size: 1.5em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.btn-xlarge {
  font-size: 1.7em;
  background-color: #2eb8ac;
}

.edit-user-link {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.user-name {
  font-weight: bold;
  font-size: 1.5em;
}

.user-details {
  font-size: 1.5em;
}