.row
  .col-xs-offset-1.col-xs-10
    - flash.each do |name, message|
      %div{:class => "alert alert-#{"#{name}"}"}
        %a.close{"data-dismiss" => "alert", :href => "#"} &#215;
        = content_tag :div, message, :id => "flash_#{name}" if message.is_a?(String)
