%nav.navbar.navbar-default
  .container-fluid
    .navbar-header.navbar-brand
      #logo
        = 'Profile Management'
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      - if logged_in?
        %ul.nav.navbar-nav
          %li= link_to t('.general.edit_your_profile'), edit_user_path(current_user), id: 'text'
          %li= link_to t('.general.view_your_profile'), user_path(current_user), id: 'text'
          - if current_user.admin?
            .nav.navbar-nav.navbar-left
              %li= link_to t('.general.users'), users_path, id: 'text'

      %ul.nav.navbar-nav.navbar-right
        - if logged_in?
          %li= link_to t('.sessions.new.log_out'), session_path(current_user), method: :delete, id: 'text'
        - else
          %li= link_to t('.sessions.new.log_in'), new_session_path, id: 'text'
          %li= link_to t('.users.new.sign_up'), new_user_path, id: 'text'
